@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.6875;
  font-family: "Noto Sans", serif;
  font-size: 1rem;
  background: #fff;
  color: #757575;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ol, ul {
  list-style: none;
}

a {
  color: #333;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  opacity: 0.4;
  -webkit-transition: all 1s;
  transition: all 1s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

.header {
  color: #DB295E;
  position: relative;
  background: url(/img/the-blackrabbit-3gagzaWAe4Q-unsplash.jpg) no-repeat center center/cover;
  height: 1080px;
}
@media (max-width: 767px) {
  .header {
    width: 100%;
    height: 600px;
  }
}
.header__inner {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__inner {
    padding: 0 15px;
    display: block;
  }
}
.header__logo {
  font-size: 40px;
  font-weight: bold;
  font-size: 30px;
}
.header__logo a {
  color: #DB295E;
}
.header__phone {
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header__phone {
    font-size: 20px;
  }
}
.header__title {
  font-size: 84px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #DB295E;
}
@media (max-width: 767px) {
  .header__title {
    font-size: 50px;
    line-height: 1.4;
    top: 45%;
  }
}

.hero {
  width: 100%;
  background: #DB295E;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 17px 0 25px 0;
}
@media (max-width: 767px) {
  .hero {
    display: none;
  }
}

.hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #DB295E;
  width: 786px;
  margin: 0 auto;
}
.hero__nav__item {
  font-size: 18px;
  border-right: 1px solid #FFF2D3;
  line-height: 2;
}
.hero__nav__item:first-child {
  border-left: 1px solid #FFF2D3;
}
.hero__nav__item a {
  color: #FFF2D3;
  display: block;
  width: 100%;
  padding: 0px 40px;
}

.drawer-hamburger {
  right: 30%;
}

.drawer-hamburger-icon {
  background: #F15080;
  display: none;
}
@media (max-width: 767px) {
  .drawer-hamburger-icon {
    display: block;
  }
}
.drawer-hamburger-icon::before, .drawer-hamburger-icon::after {
  background: #F15080;
}

.drawer-menu-item {
  color: #F15080;
}

.no2 {
  background: #FFEBEB;
  padding: 79px 0;
}
.no2_inner {
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
}
.no2_inner_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .no2_inner_wrapper {
    display: block;
    padding: 0 20px;
  }
}
.no2_inner_wrapper_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.no2_inner_wrapper_text_title {
  font-size: 38px;
  font-weight: bold;
  color: #F15080;
}
.no2_inner_wrapper_text_body {
  font-size: 18px;
  margin-top: 18px;
}
.no2_inner_wrapper_img {
  background: url(/img/pagal-pagal-iZ4mvDovbt0-unsplash.jpg) no-repeat center center/cover;
  display: inline-block;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  margin-left: 45px;
}
@media (max-width: 767px) {
  .no2_inner_wrapper_img {
    margin-left: 10px;
    margin-top: 20px;
  }
}

.bg {
  padding: 90px 0;
  background: url(/img/strawberries-629180_1920.jpg);
}
.bg_inner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .bg_inner {
    display: block;
    padding: 0 20px;
  }
}
.bg_card {
  width: calc(33.3% - 30px * 2 / 3);
  margin-right: 30px;
}
@media (max-width: 767px) {
  .bg_card {
    width: 100%;
    margin-bottom: 30px;
  }
}
.bg_card:last-child {
  margin-right: 0;
}
.bg_card .img {
  position: relative;
  width: 100%;
  padding-top: 80%;
  overflow: hidden;
}
.bg_card .img img {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.bg_card_text {
  text-align: center;
  font-size: 28px;
  color: #FFF2D3;
  font-weight: bold;
  background: #FF2B53;
  padding: 9px 0 15px 0;
  line-height: 1.2857142857;
}

.no3 {
  padding: 65px 0 80px;
}
@media (max-width: 767px) {
  .no3 {
    padding: 30px 0 40px;
  }
}
.no3_inner {
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .no3_inner {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .no3_inner {
    padding: 0 15px;
  }
}
.no3_title {
  font-size: 38px;
  font-weight: bold;
  color: #F15080;
  text-align: center;
}
.no3_text {
  max-width: 778px;
  width: 100%;
  font-size: 18px;
  display: block;
  margin: 12px auto 0;
}
.no3_items {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .no3_items {
    display: block;
  }
}
.no3_items_item {
  width: calc(33.33% - 50px * 2 / 3);
  margin-right: 50px;
  height: auto;
}
@media (max-width: 767px) {
  .no3_items_item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}
.no3_items_item:last-child {
  margin-right: 0;
}
.no3_items_item_img {
  background: url(/img/davide-carpani-cz6H-peo_E0-unsplash.jpg) no-repeat center center/cover;
  width: 340px;
  height: 340px;
  border-radius: 50%;
}
.no3_items_item_img2 {
  background: url(/img/eclair-3366430_1920.jpg) no-repeat center center/cover;
  width: 340px;
  height: 340px;
  border-radius: 50%;
}
.no3_items_item_img3 {
  background: url(/img/cakes-4916486_1920.jpg) no-repeat center center/cover;
  width: 340px;
  height: 340px;
  border-radius: 50%;
}
.no3_items_item_name {
  padding: 9px 45px 12px;
  width: 289px;
  background: #F15080;
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #FFF2D3;
  position: relative;
  left: 50px;
  top: -10px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
@media (min-width: 768px) and (max-width: 1499px) {
  .no3_items_item_name {
    width: 200px;
    padding: 5px 5px 10px;
    font-size: 20px;
    left: 20px;
  }
}
.no3_items_item_name::after {
  content: "000yen";
  display: block;
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 16px;
  font-weight: normal;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  color: #FF779F;
}
.no3_items_item_price {
  text-align: right;
  color: #FF779F;
  width: 100%;
}

.no4 {
  width: 100%;
  height: auto;
}
.no4_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .no4_inner {
    display: block;
  }
}
.no4_inner_info {
  width: 50%;
  background: #F15080;
  color: #FFF2D3;
  height: 500px;
}
@media (max-width: 767px) {
  .no4_inner_info {
    width: 100%;
    height: 400px;
  }
}
.no4_inner_info_body {
  width: 60%;
  margin: 65px 53px 72px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .no4_inner_info_body {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
}
.no4_inner_info_body_title {
  font-size: 36px;
}
@media (max-width: 767px) {
  .no4_inner_info_body_title {
    font-size: 28px;
  }
}
.no4_inner_info_body_text {
  font-size: 18px;
  line-height: 2;
}
@media (max-width: 767px) {
  .no4_inner_info_body_text {
    line-height: 1.4;
    margin-top: 20px;
  }
}
.no4_inner_info_link {
  text-align: right;
  margin-top: 20px;
}
.no4_inner_info_link a {
  display: inline-block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100px;
  font-size: 18px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  color: #FFF2D3;
  border: 1px solid #FFF2D3;
  position: relative;
}
.no4_inner_info_link a::after {
  content: "";
  position: absolute;
  font-family: fontAwesome;
  font-size: 20px;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #FFF2D3;
}
.no4_inner_img {
  position: relative;
  width: 50%;
  height: 500px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .no4_inner_img {
    width: 100%;
    height: 300px;
  }
}
.no4_inner_img img {
  position: absolute;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .no4_inner_img img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background: #FF779F;
  padding: 60px 0;
  padding: 40px 20px;
}
.footer_title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #FFF2D3;
}
@media (max-width: 767px) {
  .footer_title {
    font-size: 30px;
  }
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 383px;
  width: 100%;
}
.footer_wrapper_items {
  font-size: 18px;
  color: #FFF2D3;
}
.footer_map {
  display: block;
  color: #FFF2D3;
  margin-top: auto;
}
.footer_map a {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 110px;
  border: 1px solid #FFF2D3;
  border-radius: 50%;
  color: #FFF2D3;
  position: relative;
}
.footer_map a::before {
  content: "";
  position: absolute;
  font-family: fontAwesome;
  top: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF2D3;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0;
  font-size: 14px;
  max-width: 383px;
  width: 100%;
}
.footer__nav__item {
  border-right: 1px solid #FFF2D3;
}
.footer__nav__item:last-child {
  border-right: none;
}
.footer__nav__item a {
  text-align: center;
  padding: 0 5px;
  color: #FFF2D3;
}
.footer-copyrights {
  font-size: 12px;
  color: #FFF2D3;
  text-align: center;
  margin-top: 57px;
}